*,*::before,*::after{
    box-sizing: border-box;
    user-select: none;
}
body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
.world{
    overflow: hidden;
    position: relative;
    
}
#level{
    position: absolute;
    top:0.8vmin;
    right:3rem;
    font-size: 1.5rem;
}
.lvl{
    position: absolute;
    top:0.8vmin;
    right:1rem;
    font-size: 1.5rem;
}
#score{
    position:absolute;
    left:1vmin;
    top:1vmin;
    font-size:1.5rem;
}
.user{
    position:absolute;
    right:50px;
    padding:10px;
    top:40px;
    font-size:1.5rem;
    color:black;
    text-decoration: none;
}
#signup{
    color:red;
    padding:10px;
    background-color:white;
    cursor:pointer;
}
#login{
    padding:10px;
    background-color:white;
    color:blue;
    cursor:pointer;
}

.score{
    position: absolute;
   left:5rem;
    top:1vmin;
    font-size:1.5rem;
}
.start-screen{
    display:grid;
    place-items:center;
    font-size:1.5rem;
    font-weight: bold;
    color:red;
    top:1px;
}
.hide{
    display: none;
}
.ground{
    --left:0;
    position:absolute;
    width:300%;
    bottom:0;
    left:calc(var(--left) * 1%);
}
.dino{
    --bottom:0;
    position:absolute;
    left:1%;
    height:30%;
    bottom:calc(var(--bottom)*1%);
}
.cactus{
    position:absolute;
    left:calc(var(--left)*1%);
    height:30%;
    bottom:0;
}
